@import "./variables.scss";
.m-t-5 {
    margin-top: 5px;
}
.m-l-10 {
    margin-left: 10px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-l-10 {
    padding-left: 10px;
}
.m-t-3 {
  margin-top: 3px; 
}
.inline {
    display: inline;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}


.loadingOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 80;
  overflow: hidden;
  background-color: rgba(226, 223, 223, 0.3);
}
  
.loader {
  left: calc(50% - 29px);
  position: absolute;
  right: auto;
  top: 50%;
  z-index: 999;
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1
    }
    45% {
      transform: scale(0.1);
      opacity: 0.7
    }
    80% {
      transform: scale(1);
      opacity: 1
    }
  }
  
  .loaderOne {
    background-color: $primary-theme-color;
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 100%;
    display: inline-block;
    animation: pulse 0.75s 0.12s infinite cubic-bezier(.2,.68,.18,1.08);
    animation-fill-mode: both;
  }

  .loaderTwo {
    @extend .loaderOne;
    animation: pulse 0.75s 0.24s infinite cubic-bezier(.2,.68,.18,1.08);
  }

  .loaderThree {
    @extend .loaderOne;
    animation: pulse 0.75s 0.36s infinite cubic-bezier(.2,.68,.18,1.08);
  }
}

.loaderCircle {
  left: 50%;
  position: absolute;
  right: auto;
  top: 50%;
  z-index: 999;
  i {
    color: $primary-theme-color;
    font-size: 25px;
  }
}
