@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
// Primary color variables
$primary-theme-color: #f16537;
$secondary-theme-color: #f79426;
$primary-font-color: #39444d;
$secondary-font-color: #606264;

$background-clr: #f1f4f6;
$box-shadow-clr: #52627e26;
$font-size-base: 14px;
$gradient-start: #ff9926;
$gradient-end: #ff654f;
$text-color:  #57504a;

$primary-font-family: 'Source Sans Pro', sans-serif;
//colors
$white: white;
